.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 15px;
    row-gap: 10px;

}
.date, .day{
    background-color: cadetblue;
    font-size: 25px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.day{
    background-color: gray;
}
#reject-date{
    background-color: darkgray;
}
#holiday{
    background-color: red;
}
h3{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    border-bottom: dotted;
}